[project]
	description = test1
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zaka2000
[access "refs/for/refs/*"]
	read = group user/zaka2000
	push = group user/zaka2000
	label-Code-Review = -2..+2 group user/zaka2000
	label-Verified = -1..+1 group user/zaka2000
	rebase = group user/zaka2000
	removeReviewer = group user/zaka2000
	submit = group user/zaka2000
[access "refs/heads/*"]
	read = group user/zaka2000
	create = group user/zaka2000
	push = +force group user/zaka2000
	pushMerge = group user/zaka2000
[access "refs/tags/*"]
	push = +force group user/zaka2000
	pushTag = group user/zaka2000
	pushSignedTag = group user/zaka2000
